body {
    margin: 0;
    font-family: 'メイリオ', sans-serif;
    background-color: #202938; /* 藍色 */
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    padding 20px;
}


/* モーダルのアニメーション */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.3s ease-out;
    z-index: 1000;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    animation: slideUp 0.4s ease-out;
}

/* アニメーション定義 */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}
